@import "abstracts/veriables";
@import "base/base";
@import "base/typography";
@import "components/buttons";
@import "abstracts/mixins";

// Header
.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  &-inner {
    @include flexCenter;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    .humberger-menu {
      display: none;
      cursor: pointer;
    }
  }
}
.nav-list {
  @include flexCenter;
  list-style: none;
  padding-left: 0;
  margin: 0;
  .nav-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .nav-link {
    padding-bottom: 35px;
    color: $grayish-blue;
    font-size: 1.4rem;
    line-height: 16px;
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      height: 4px;
      width: 100%;
      bottom: 4px;
      left: 0;
    }
    &:active,
    &:focus,
    &:hover {
      color: $color-hover;
      &::after {
        background-color: $primary-line-green;
      }
    }
  }
}
.logo-img-header {
  display: block;
  fill: #2d314d;
  height: 20px;
}
.nav-overflow {
  display: none;
  background: linear-gradient(
    180deg,
    #2d314d 0%,
    rgba(45, 49, 77, 0.0001) 100%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 50;
}
.navbar-mobile {
  display: none;
  background-color: $white;
  padding: 4rem 0rem;
  border-radius: 5px;
  position: absolute;
  width: 90%;
  top: 10px;
  left: calc(50% - 45%);
  z-index: 100;
}
.nav-overflow-hidden {
  display: block;
}
.nav-hidden {
  display: block;
}
.nav-list-mobile {
  @include flexColumn();
  list-style: none;
  margin: 0;
  padding-left: 0;
  .nav-item-mobile {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
  .nav-link-mobile {
    font-size: 2rem;
    color: $primary-dark-blue;
    &:hover,
    &:active,
    &:focus {
      color: $primary-line-green;
    }
  }
}

.main-content {
  flex-grow: 1;
  margin-top: 8rem;
}
// hero
.hero-section {
  background-color: $light-gray;
  padding-top: 17rem;
  padding-bottom: 17.8rem;
  background-image: url(/img/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: top 80% right calc(50% - 450px);
  position: relative;
}
.hero-inner {
  @include flexCenter();
  .hero-text-content {
    max-width: 450px;
    .hero-header {
      margin-bottom: 2.4rem;
    }
    .hero-text {
      font-size: 1.8rem;
      margin: 0;
      margin-bottom: 4.4rem;
      line-height: 1.5;
    }
  }
  .hero-img {
    display: block;
    position: absolute;
    left: 50%;
    top: -19%;
  }
}

.features-section {
  background-color: $light-grayish-blue;
  padding: 9.5rem 0rem;
}
.features-inner {
  display: flex;
  flex-direction: column;
  .features-heading {
    margin-bottom: 1.6rem;
  }
  .features-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 7rem;
  }
}
.feature-cards-list {
  @include flexCenter();
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.feature-card {
  width: 255px;
  margin-bottom: 4rem;
  &:not(:last-child) {
    margin-right: 30px;
  }
  .feature-card-img {
    width: 72px;
    height: 72px;
    display: block;
    margin-bottom: 4rem;
  }
  .feature-card-info-text {
    font-size: 1.6rem;
    margin: 0;
    margin-top: 2.8rem;
    line-height: 2.6rem;
  }
}
// Aticle section
.articles-section {
  padding: 8rem 0rem;
  background-color: $light-gray;
}
.articles-inner {
  @include flexColumn($align: flex-start);
  .articles-heading {
    margin-bottom: 3rem;
  }
}
.articles-card-list {
  width: 100%;
  @include flexCenter();
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.articles-card-item {
  width: 255px;
  height: 395px;
  background-color: $white;
  border-radius: 10px;
  @include flexColumn($align: flex-start);
  &:not(:last-child) {
    margin-right: 30px;
  }
  .article-img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
  }
  .card-text-wrapper {
    padding: 25px 24px;
    margin-top: auto;
    @include flexColumn($align: flex-start);
    flex-grow: 1;
    .articles-author {
      margin-bottom: 0.8rem;
      font-size: 0.8rem;
      line-height: 1.8rem;
    }
    .articles-card-heading {
      margin: 0;
      margin-bottom: 0.8rem;
      &:hover {
        color: $primary-bright-Cyan;
      }
    }
    .article-text {
      margin: 0;
      line-height: 1.8rem;
      font-size: 1.3rem;
    }
  }
}

.footer {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  background-color: $primary-dark-blue;
}
.footer-inner {
  @include flexCenter();
  .logo-social-media-links {
    margin-right: 131px;
    .logo-img-footer {
      fill: #fff;
      display: block;
    }
  }
}
.social-media-links {
  @include flexCenter();
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-top: 5.5rem;
  .media-link-item {
    &:not(:last-child) {
      margin-right: 13px;
    }
    .media-icon {
      width: 20px;
      height: 20px;
      display: block;
      fill: #fff;
      &:hover {
        fill: $primary-line-green;
      }
    }
  }
}

.footer-nav-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  .footer-navlist-item:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-navlink {
    color: $light-grayish-blue;
    font-size: 15px;
    line-height: 2.6rem;
    &:hover {
      color: $primary-bright-Cyan;
    }
  }
}
.list-1 {
  margin-right: 131px;
}
.fo0ter-btn-copyright {
  @include flexColumn($align: flex-end);
  margin-left: auto;
}
.footer-btn {
  text-align: center;
  margin-bottom: 2.4rem;
}
.copyright-text {
  font-size: 1.5rem;
  line-height: 2.6rem;
  letter-spacing: -0.234375px;
  opacity: 0.5;
}

@import "base/mediaqueries";
