@import "abstracts/_veriables";
@import "base/base";
@import "components/_buttons";
/* GENERAL */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
// mixins
@mixin flexCenter {
  display: flex;
  align-items: center;
}

.main-content {
  flex-grow: 1;
}

// Header

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  &-inner {
    @include flexCenter;
    justify-content: space-between;
    .nav-list {
      @include flexCenter;
      list-style: none;
      .nav-item {
        &:not(:last-child) {
          margin-right: 30px;
        }
        .nav-link {
          color: $grayish-blue;
        }
      }
    }
  }
}

// hero
.hero-section {
  background-color: $light-gray;
}
