.btn {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 30px;
  color: $white;
}
.btn-primary {
  background: linear-gradient(
    to right,
    $primary-line-green,
    $primary-bright-Cyan
  );
}
.btn-primary:hover {
  opacity: 0.6;
}
