$primary-dark-blue: hsl(233, 26%, 24%);
$primary-line-green: hsl(136, 65%, 51%);
$primary-bright-Cyan: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$color-hover: #2d314d;
